:root{
    --main-color: #019df4;
    --text-color: #0b2739;
    --section-gray-color: #f2f4f2;
    --section-form-color: #09202e;
    --footer-color: #fffdfd;
    --border-footer-color: #d3d4d3;
    --text-link-color: #50535a;
    --text-color-menu: #707070;
    --white-color: #ffff;
    --border-radius: 20px;
    --telefonica-bold: Telefonica-Bold;
    --telefonica-regular: Telefonica-Regular;
    --telefonica-light: Telefonica-Light;
    --underline-color: #a13ea1;
    --terms-condition-text-color: #313235;
    --text-benefits: #b6b7b7;
    --orange-color: #ec624b;
    --link-inactive: #86888c;
}

.hola 
{
    background-color: red;
    position: absolute;
    right: 300px;
}


/* ****** fonts ******* */
@font-face {
    font-family:  Telefonica-Bold;
    src: url('fonts/Telefonica-Bold.otf'); 
}

@font-face {
    font-family:  Telefonica-Regular;
    src: url('fonts/Telefonica-Regular.otf'); 
}

@font-face
{
    font-family:  Telefonica-Light;
    src: url('fonts/Telefonica-Light.otf'); 
}

/* ***** */


/* ****** Resets ******* */ 
html
{
    box-sizing: border-box;
    font-size: 16px;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
    margin: 0;
    overflow-x: hidden;
    font-family: var(--telefonica-regular);
    color: var(--text-color);
    text-align: justify;
}

h1
{
    margin: 0;
}

h2
{
    margin: 0;
}

h3
{
    margin: 0;
}

h4
{
    margin: 0;
}

p
{
    margin: 0;
}

ul
{
    padding: 0;
    margin: 0;
}

a
{
    cursor: pointer;
}
/* ***** */



/* ****** Blog Hero ******* */ 
.blog-hero
{
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
    margin-bottom: 50px;
}

.blog-hero-title
{
    color: var(--white-color);
    font-size: 2rem;
    font-family: var(--telefonica-light);
    font-weight: 300;
    padding-top: 40px;
    padding-bottom: 20px;
}

.blog-hero-message
{
    color: var(--white-color);
    text-align: left;
    font-size: .8rem;
}

.blog-hero-image-desk 
{
    width: 40%;
}

@media screen and (min-width: 1200px) {
    .blog-hero 
    {
        padding-left: 70px;
        
    }

    .blog-hero-image-desk 
    {
        width: 620px;
    }

    .blog-hero-title 
    {
        padding-top: 68px;
        font-size: 2.3rem;
    }

    .blog-hero-message 
    {
        font-size: 1rem;
        width: 400px;
        
    }

}

/* ***** */

/* ****** Blog Post 1 ******* */ 
.blog-body 
{
    padding-bottom: 60px;
}

.blog-post1-content-container 
{
    width: 85%;
    margin: 0 auto;
}

.blog-post1, .blog-post2 
{
    
    border: 1px solid var(--border-footer-color);
}

.blog-post1, .blog-post2 
{
    width: 288px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 0 0 20px;
    margin: 0 auto;
    text-align: left;
    border-radius: 16px;
    cursor: pointer;
}

.blog-post2 
{
    margin-top: 20px;
}

.blog-post1-img, .blog-post2-img 
{
    width: 100%;
    border-radius: 16px 16px 0 0;
}

.blog-post1-date, .blog-post2-date  
{
    color: var(--text-color-menu);
    font-size: .8rem;
    padding-top: 20px;
}

.blog-post1-title, .blog-post2-title  
{
    font-size: 1.1rem;
    color: var(--text-color);
    padding-top: 12px;
    font-family: var(--telefonica-light);
    font-weight: 300;
    transition: .5s;
}

.blog-post2-title:hover , .blog-post1-title:hover 
{
    color: var(--main-color);
} 

.blog-post1-line, .blog-post2-line  
{
    margin: 10px 0 20px 0;
    width: 100px;
    height: 1px;
    border-radius: 5px;
    background-color: var(--orange-color);
    color: transparent;
    transition: .5s;
}

.blog-post2-title:hover+.blog-post2-line, .blog-post1-title:hover+.blog-post1-line 
{
    width: 85%;
} 

.blog-post1-message, .blog-post2-message 
{
    font-size: .9rem;
    color: var(--terms-condition-text-color);
}

.blog-post1-heart-counter, .blog-post2-heart-counter
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    padding-top: 10px;
}

.blog-post1-heart, .blog-post2-heart
{
    padding-right: 5px;
}

.blog-post1-counter, .blog-post2-counter  
{
    font-family: var(--telefonica-light);
    color: var(--text-link-color);
}

.blog-message-p 
{
    text-align: center; 
    padding-left: 16px;
    padding-right: 16px;
    font-family: var(--telefonica-light);
    font-weight: 300;
    margin-top: 50px;
    margin-bottom: 19px;
    color: var(--text-link-color);
}

.blog-message-line 
{
    margin: 10px 0 20px 0;
    width: 160px;
    height: 2px;
    border-radius: 5px;
    background-color: var(--border-footer-color);
    color: transparent; 
    margin: 0 auto;
} 


@media screen and (min-width: 768px) {
    .blog-post1-content-container
    {
        width: 80%;
    }

    .blog-post1
    {
        display: flex;
        width: 700px;
        padding: 0;
    }

    .blog-post2 
    {
        display: flex;
        width: 700px;
        flex-direction: row-reverse;
        padding: 0;
    }

    .blog-post1-img, .blog-post2-img 
    {
        width: 50%;
    }

    .blog-post1-content, .blog-post2-content  
    {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }

    

    .blog-post1-heart-counter, .blog-post2-heart-counter 
    {
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        padding-bottom: 26px;
    }
}


@media screen and (min-width: 1024px) {
    .blog-post1, .blog-post2  
    {
        width: 900px;
    }

}

@media screen and (min-width: 1200px) {
    .blog-post1, .blog-post2  
    {
        width: 1060px;
    }

    .blog-post1-content, .blog-post2-content  
    {
        justify-content: space-between;
    }

    .blog-post1-date, .blog-post2-date  
    {
        font-size: 1rem;
        padding-top: 40px;
    }

    .blog-post1-title, .blog-post2-title 
    {
        font-size: 2rem;
        padding-top: 34px;
    }

    .blog-post1-line, .blog-post2-line 
    {
        width: 145px;
        margin-top: 26px;
        margin-bottom: 30px;
    }
    

    .blog-post1-message, .blog-post2-message 
    {
        font-size: 1.1rem;
    }

    .blog-post1-heart-counter, .blog-post2-heart-counter 
    {
        align-self: flex-end;
    }

    .blog-message 
    {
        width: 648px;
        margin: 0 auto;
    }

    .blog-message-p 
    {
        font-size: 1.8rem;
    }

    .blog-message-line 
    {
        width: 394px;
    }
}

@media screen and (min-width: 1366px) {
    .blog-post1, .blog-post2  
    {
        width: 1226px;
    }

    
}


/* ***** */