:root{
    --main-color: #019df4;
    --text-color: #0b2739;
    --section-gray-color: #f2f4f2;
    --section-form-color: #09202e;
    --footer-color: #fffdfd;
    --border-footer-color: #d3d4d3;
    --text-link-color: #50535a;
    --text-color-menu: #707070;
    --white-color: #ffff;
    --border-radius: 20px;
    --telefonica-bold: Telefonica-Bold;
    --telefonica-regular: Telefonica-Regular;
    --telefonica-light: Telefonica-Light;
    --underline-color: #a13ea1;
    --terms-condition-text-color: #313235;
    --text-benefits: #b6b7b7;
    --orange-color: #ec624b;
    --link-inactive: #86888c;
    --gray-dark: #313235;
}

body 
{
    padding-bottom: 53px;
}

/* ** services hero ** */

.services-description-links-container
{
    padding-bottom: 30px;
}
.services-hero
{
    color: var(--white-color);
    background-color: var(--main-color);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.services-hero-image 
{
    position: absolute;
    top: 0;
    width: 100%;
    
}

.services-hero-title 
{
    padding-left: 16px;
    padding-right: 16px;
    font-size: 1.2rem;
    padding-bottom: 20px;
    font-family: var(--telefonica-light);
    font-weight: 300;
}

.services-hero-paragraph 
{
    padding-left: 16px;
    padding-right: 16px;
    font-size: .8rem;
    padding-bottom: 30px;
}

@media screen and (min-width: 340px) {
    .services-hero 
    {
        height: 220px;
    }
}

@media screen and (min-width: 375px) {
    .services-hero 
    {
        height: 240px;
    }
}

@media screen and (min-width: 414px) {
    .services-hero-image 
    {
        width: 80%;
    }
}

@media screen and (min-width: 768px) {
    .services-hero 
    {
        flex-direction: row;
    }

    .services-hero-image2 
    {
        width: 400px;
        align-self: flex-end;
    }

    .services-hero-title 
    {
        font-size: 1.3rem; 
        padding-left: 70px;
    }

    .services-hero-paragraph 
    {
        font-size: 1rem;
        padding-left: 70px;
    }
}

@media screen and (min-width: 768px) { 
    .services-hero-image2 
    {
        width: 460px;
        align-self: flex-end;
    }
}

@media screen and (min-width: 1024px) {
    .services-hero
    {
        justify-content: space-between;
    }
    .services-hero-content 
    {
        width: 55%;
        
    }

    .services-hero-title 
    {
        font-size: 2.3rem; 
    }
}
/* *** */



/* ** Services description ** */

    .services-description-title 
    {
        padding-top: 50px;
        padding-left: 16px;
        padding-bottom: 20px;
        padding-right: 16px;
        font-size: 1rem;
        text-align: center;
    }
    .services-description-links-container 
    {
        justify-content: space-between;
        padding-left: 16px;
        padding-right: 16px;
    }

    .services-description-link 
    {
        font-size: .9rem;
    }

    .services-description-article 
    {
        border: solid 1px var(--border-footer-color);
        border-radius: 10px;
        margin-left: 16px;
        margin-right: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 25px 20px 25px;
        margin-bottom: 20px;
    }

    .services-article-img 
    {
        
        padding-bottom: 40px;
    }

    .services-article-img1 
    {
        width: 180px;
    }

    .services-article-img2 
    {
        width: 100px;
    }

    
    .services-article-img3 
    {
        width: 104px;
    }
    
    .services-article-img4 
    {
        width: 118px;
    }

    .services-article-img5 
    {
        width: 104px;
    }

    .services-article-title 
    {
        font-size: 1rem;
        color: var(--main-color);
        padding-bottom: 20px;
        font-family: var(--telefonica-light);
        font-weight: 300;
    }

    .services-article-list-item 
    {
        font-size: .8rem;
        color:var(--text-link-color) ;
    }

    .services-article-list-item:first-child 
    {
        padding-bottom: 10px;
    }

    @media screen and (min-width: 768px) {
        .services-description-links-container 
        {
            justify-content: center;
            
        }

        .services-description-title 
        {
            font-size: 1.9rem;
        }

        .services-description-link-container:first-child
        {
            padding-right: 40px;
        }

        .services-description-link-container:last-child
        {
            padding-left: 40px;
        }

        .services-description-article 
        {
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin-left: 70px;
            margin-right: 70px;
        }

        .services-description-article-content 
        {
            width: 40%;
            
        } 

        .services-article-img 
        {
            padding-bottom: 0;
        }


        .services-article-img1 
        {
            width: 260px;
        }

        .services-article-img2 
        {
            width: 172px;
        }

        .services-article-img2 
        {
            width: 172px;
        }

        .services-article-img3 
        {
            width: 170px;
        }
        
        .services-article-img4 
        {
            width: 180px;
        }

        .services-article-img5 
        {
            width: 168px;
        }

        .services-article-title 
        {
            font-size: 1.9rem;
        }

        .services-article-list 
        {
            padding-left: 16px;
        }

        .services-article-list-item 
        {
            font-size: 1.1rem;
            
        }
    }
/* *** */


/* ** Services description 2** */

.services-description-2
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-description-2-img 
{
    width: 200px;
    padding-top: 40px;
}

.services-description-2-paragraph 
{
    font-size: 1rem;
    padding-left: 16px;
    padding-right: 16px;
    font-family: var(--telefonica-light);
    font-weight: 300;
    padding-top: 19px;
}

/* *** */
