:root{
    --main-color: #019df4;
    --text-color: #0b2739;
    --section-gray-color: #f2f4f2;
    --section-form-color: #09202e;
    --footer-color: #fffdfd;
    --border-footer-color: #d3d4d3;
    --text-link-color: #50535a;
    --text-color-menu: #707070;
    --white-color: #ffff;
    --border-radius: 20px;
    --telefonica-bold: Telefonica-Bold;
    --telefonica-regular: Telefonica-Regular;
    --telefonica-light: Telefonica-Light;
    --underline-color: #a13ea1;
    --terms-condition-text-color: #313235;
    --text-benefits: #b6b7b7;
    --orange-color: #ec624b;
    --link-inactive: #86888c;
    --gray-dark: #313235;
}

*:focus {
    outline: none;
}


/* ** body ** */

body 
{
    padding-bottom: 53px;
}

@media screen and (min-width: 768px) {
    body 
    {
        padding-bottom: 0;
    }
}
/* *** */

/* ** services hero ** */

.services-description-links-container
{
    padding-bottom: 30px;
}
.services-hero
{
    color: var(--white-color);
    background-color: var(--main-color);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.services-hero-image 
{
    position: absolute;
    top: 0;
    width: 100%;
    
}

.services-hero-title 
{
    padding-left: 16px;
    padding-right: 16px;
    font-size: 1.2rem;
    padding-bottom: 20px;
    font-family: var(--telefonica-light);
    font-weight: 300;
}

.services-hero-paragraph 
{
    padding-left: 16px;
    padding-right: 16px;
    font-size: .8rem;
    padding-bottom: 30px;
}

@media screen and (min-width: 340px) {
    .services-hero 
    {
        height: 220px;
    }
}

@media screen and (min-width: 375px) {
    .services-hero 
    {
        height: 240px;
    }
}

@media screen and (min-width: 414px) {
    .services-hero-image 
    {
        width: 80%;
    }
}

@media screen and (min-width: 768px) {
    .services-hero 
    {
        flex-direction: row;
    }

    .services-hero-image2 
    {
        width: 400px;
        align-self: flex-end;
    }

    .services-hero-title 
    {
        font-size: 1.3rem; 
        padding-left: 70px;
    }

    .services-hero-paragraph 
    {
        font-size: 1rem;
        padding-left: 70px;
    }
}

@media screen and (min-width: 768px) { 
    .services-hero-image2 
    {
        width: 460px;
        align-self: flex-end;
    }
}

@media screen and (min-width: 1024px) {
    .services-hero
    {
        justify-content: space-between;
    }
    .services-hero-content 
    {
        width: 55%;
        
    }

    .services-hero-title 
    {
        font-size: 2.3rem; 
    }
}
/* *** */



/* ** Services description ** */

    .services-description-title 
    {
        padding-top: 50px;
        padding-left: 16px;
        padding-bottom: 20px;
        padding-right: 16px;
        font-size: 1rem;
        text-align: center;
    }
    .services-description-links-container 
    {
        justify-content: space-between;
        padding-left: 16px;
        padding-right: 16px;
    }

    .services-description-link 
    {
        font-size: .9rem;
    }

    .services-description-article 
    {
        border: solid 1px var(--border-footer-color);
        border-radius: 10px;
        margin-left: 16px;
        margin-right: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 25px 20px 25px;
        margin-bottom: 20px;
    }

    .services-article-img 
    {
        
        padding-bottom: 40px;
    }

    .services-article-img1 
    {
        width: 180px;
    }

    .services-article-img2 
    {
        width: 100px;
    }

    
    .services-article-img3 
    {
        width: 104px;
    }
    
    .services-article-img4 
    {
        width: 118px;
    }

    .services-article-img5 
    {
        width: 104px;
    }

    .services-article-title 
    {
        font-size: 1rem;
        color: var(--main-color);
        padding-bottom: 20px;
        font-family: var(--telefonica-light);
        font-weight: 300;
    }

    .services-article-list-item 
    {
        font-size: .8rem;
        color:var(--text-link-color) ;
    }

    .services-article-list-item:first-child 
    {
        padding-bottom: 10px;
    }

    @media screen and (min-width: 768px) {
        .services-description-links-container 
        {
            justify-content: center;
            
        }

        .services-description-title 
        {
            font-size: 1.9rem;
        }

        .services-description-link-container:first-child
        {
            padding-right: 40px;
        }

        .services-description-link-container:last-child
        {
            padding-left: 40px;
        }

        .services-description-article 
        {
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin-left: 70px;
            margin-right: 70px;
        }

        .services-description-article-content 
        {
            width: 40%;
            
        } 

        .services-article-img 
        {
            padding-bottom: 0;
        }


        .services-article-img1 
        {
            width: 260px;
        }

        .services-article-img2 
        {
            width: 172px;
        }

        .services-article-img2 
        {
            width: 172px;
        }

        .services-article-img3 
        {
            width: 170px;
        }
        
        .services-article-img4 
        {
            width: 180px;
        }

        .services-article-img5 
        {
            width: 168px;
        }

        .services-article-title 
        {
            font-size: 1.9rem;
        }

        .services-article-list 
        {
            padding-left: 16px;
        }

        .services-article-list-item 
        {
            font-size: 1.1rem;
            
        }
    }
/* *** */


/* ** Services description 2** */

.services-description-2
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-description-2-img 
{
    width: 200px;
    padding-top: 40px;
}

.services-description-2-paragraph 
{
    font-size: 1rem;
    padding-left: 16px;
    padding-right: 16px;
    font-family: var(--telefonica-light);
    font-weight: 300;
    padding-top: 19px;
}

.services-description-link-active 
{
    color: var(--text-color);
}

.services-description-link-inactive 
{
    color: var(--link-inactive);
}

@media screen and (min-width: 768px) {
    .services-description-2 
    {
        flex-direction: row;
        justify-content: center;
        padding-top: 56px;
    }

    .services-description-2-img 
    {
        width: 200px;
        padding-top: 0;
        
    }

    .services-description-2-paragraph 
    {
        width: 50%;
        font-size: 1rem;
        padding-top: 0;
        padding-left: 100px;
        padding-right: 0;
    }
}

@media screen and (min-width: 1024px){

    .services-description-2-img 
    {
        width: 390px;
    }

    .services-description-2-paragraph 
    {
        font-size: 1.9rem;
    }
}

/* *** */


/* **Disappear Service ** */
.dissapear-service 
{
    display: none;
}
/* *** */


/* **Help section ** */

.services-help
{
    background-color: var(--section-gray-color);
    padding: 30px 16px 40px 16px;
}

.services-help-background-tree-left
{
    position: absolute;
    left: 70px;
}

.services-help-background-tree-right 
{
    position: absolute;
    right: 70px;
}

.services-help-title 
{
    font-size: 1rem;
    color: var(--main-color);
    font-weight: 300;
    text-align: center;
    padding-bottom: 30px;
}



.service-help-search-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--white-color);
    padding: 10px;
    border-radius: 40px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1);
}

.service-help-search 
{
    width: 90%;
    background: transparent;
    border: 0px;
    font-family: var(--telefonica-light); 
    color: var(--link-inactive);
}

.service-help-search-image
{
    padding-right: 11px;
    
}

.service-help-buttons 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.service-help-button 
{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 90px;
}

.service-help-button-icon-container-blue 
{
    border: 1px solid var(--main-color);
    border-radius: 50%;
    padding: 8px;
    width: 37px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-help-button-icon-container-gray
{
    border: 1px solid var(--link-inactive);
    border-radius: 50%;
    padding: 8px;
    width: 37px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-help-button-name 
{
    text-align: center;
    font-size: .8rem;
    margin-top: 4px;
}

.service-help-button-name-blue 
{
    color: var(--main-color);
}

.service-help-button-name-gray 
{
    color: var(--link-inactive);
}

.services-help-data-questions 
{
    margin-top: 34px;
}

.services-help-data-question 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--border-footer-color);
    padding-top: 20px;
    padding-bottom: 10px;
}

.services-help-data-answer-p 
{
    font-size: .9rem;
    width: 80%;
    color: var(--terms-condition-text-color);
}

.services-help-data-answer-arrows 
{
    display: flex;
    justify-content: flex-end;
}
.services-help-data-title-container 
{
    display: flex;
    margin-top: 45px;
}

.services-help-data-title 
{
    font-family: var(--telefonica-light);
    font-weight: 300;
    padding-left: 11px;
}

@media screen and (min-width: 768px) {
    
    .services-help-background-tree-left 
    {
        width: 150px;
    }

    .services-help-background-tree-right
    {
        width: 150px;
    } 
    
    .services-help-title 
    {
        font-size: 1.9rem;
        padding-bottom: 40px;
    }

    .service-help-search-container 
    {
        width: 394px;
        margin: 0 auto;
    }

    .service-help-buttons
    {
        justify-content: center;

    }

    .service-help-button 
    {
        padding-right: 26px;
    }

    .service-help-button:last-child
    {
        padding-right: 0;
    }
    .services-help-data 
    {
        padding-left: 70px;
        padding-right: 70px;
    }

    .services-help-data-title 
    {
        font-size: 1.2rem;
    }

    .services-help-data-answer-p 
    {
        font-size: 1rem;
    }
    
    .services-help-data-questions 
    {
        height: 500px;
        display: flex;
        align-content: space-between;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .services-help-data-question 
    {
        width: 48%;
        height: 70px;
    }
}

@media screen and (min-width: 1200px){
    .services-help-background-tree-left 
    {
        width: 340px;
    }

    .services-help-background-tree-right
    {
        width: 340px;
    }
}
/* *** */


/* ** Service contact section ** */
.services-contact 
{
    background-image: url('assets/background-service-contact.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding-top: 40px;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 42px;
}

.service-contact-first
{
    font-family: var(--telefonica-light);
    font-weight: 300;
    padding-bottom: 20px;
}

.service-contact-second 
{
    font-size: .9rem;
}

.service-contact-second span 
{
    font-family: var(--telefonica-bold);
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    .services-contact 
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 70px;
    }

    .service-contact-first 
    {
        width: 50%;
        font-size: 2.3rem;
    }

    .service-contact-second 
    {
        width: 50%;
        text-align: justify;
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 1200px)
{

}
/* *** */