:root{
    --main-color: #019df4;
    --text-color: #0b2739;
    --section-gray-color: #f2f4f2;
    --section-form-color: #09202e;
    --footer-color: #fffdfd;
    --border-footer-color: #d3d4d3;
    --text-link-color: #50535a;
    --text-color-menu: #707070;
    --white-color: #ffff;
    --border-radius: 20px;
    --telefonica-bold: Telefonica-Bold;
    --telefonica-regular: Telefonica-Regular;
    --telefonica-light: Telefonica-Light;
    --underline-color: #a13ea1;
    --terms-condition-text-color: #313235;
}


/* ****** fonts ******* */
@font-face {
    font-family:  Telefonica-Bold;
    src: url('fonts/Telefonica-Bold.otf'); 
}

@font-face {
    font-family:  Telefonica-Regular;
    src: url('fonts/Telefonica-Regular.otf'); 
}

@font-face
{
    font-family:  Telefonica-Light;
    src: url('fonts/Telefonica-Light.otf'); 
}

/* ***** */


/* ****** Resets ******* */ 
html
{
    box-sizing: border-box;
    font-size: 16px;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
    margin: 0;
    overflow-x: hidden;
    background-color: var(--main-color);
    font-family: var(--telefonica-regular);
    color: var(--text-color);
}

h1
{
    margin: 0;
}

h2
{
    margin: 0;
}

h3
{
    margin: 0;
}

h4
{
    margin: 0;
}

p
{
    margin: 0;
}
/* ***** */


/* ***************** utilities **************** */ 

/* ** Buttom ** */
.buttom
{
    padding: 12px 70px 12px 70px;
    border-radius: 100px;
    color: var(--white-color);
    text-decoration: none;
    font-family: var(--telefonica-regular);
}

/* *** */

/* ****** Styles site ******* */ 

/* ** body ** */
.body
{
    padding-bottom: 55px;
}
/* *** */

/* ** menu ** */
.menu
{
    background: var(--white-color);
    display: flex;
    justify-content: space-evenly;
    height: 53px;
    font-size: .9rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    position: fixed;
}

.menu-link
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 53px;
    width: 15%;
}


.menu-link-blue
{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    text-decoration: none;
    border-bottom: 4px solid var(--main-color);
}

.menu-link-img
{
    width: 1.2rem;
    height: 1.2rem;
}

.menu-link-text
{
    padding-left: .6rem;
}

.div
{
    width: 100px;
    height: 1000px;
    background: red;
}

/* *** */

/* ********************* */

