:root{
    --main-color: #019df4;
    --text-color: #0b2739;
    --section-gray-color: #f2f4f2;
    --section-form-color: #09202e;
    --footer-color: #fffdfd;
    --border-footer-color: #d3d4d3;
    --text-link-color: #50535a;
    --text-color-menu: #707070;
    --white-color: #ffff;
    --border-radius: 20px;
    --telefonica-bold: Telefonica-Bold;
    --telefonica-regular: Telefonica-Regular;
    --telefonica-light: Telefonica-Light;
    --underline-color: #a13ea1;
    --terms-condition-text-color: #313235;
    --text-benefits: #b6b7b7;
    --orange-color: #ec624b;
    --link-inactive: #86888c;
}


/* ****** fonts ******* */
@font-face {
    font-family:  Telefonica-Bold;
    src: url('fonts/Telefonica-Bold.otf'); 
}

@font-face {
    font-family:  Telefonica-Regular;
    src: url('fonts/Telefonica-Regular.otf'); 
}

@font-face
{
    font-family:  Telefonica-Light;
    src: url('fonts/Telefonica-Light.otf'); 
}

/* ***** */


/* ****** Resets ******* */ 
html
{
    box-sizing: border-box;
    font-size: 16px;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
    margin: 0;
    overflow-x: hidden;
    background-color: var(--main-color);
    font-family: var(--telefonica-regular);
    color: var(--text-color);
}

h1
{
    margin: 0;
}

h2
{
    margin: 0;
}

h3
{
    margin: 0;
}

h4
{
    margin: 0;
}

p
{
    margin: 0;
}

ul
{
    padding: 0;
    margin: 0;
}

a
{
    cursor: pointer;
}
/* ***** */


/* ***************** utilities **************** */ 
/* **padding top features ** */
.padding-top 
{
    padding-top: 68px;
}

@media screen and (min-width: 768px) {
    .padding-top 
{
    padding-top: 0;
}
}
/* *** */

/* **Disappear Element ** */
    .dissapear-element 
    {
        display: none;
    }
/* *** */

/* **Appear big resolution ** */
.appear-big-screen
{
    display: none;
}

@media screen and (min-width: 768px) {
    .appear-big-screen
    {
        display: block;
    }
}

/* *** */

/* ** Dissapear Big resolution ** */
@media screen and (min-width: 768px) {
    .dissapear-big-resolution
    {
        display: none;
    }
}
/* *** */

/* ** Button ** */
.button
{
    padding-top: 8px;
    border-radius: 100px;
    color: var(--white-color);
    text-decoration: none;
    font-family: var(--telefonica-regular);
    border:none;
    width: 168px;
    height: 36px;
}
/* *** */

/* ** Wrapper** */

.wrapper 
{
    padding: 0 16px 0 16px;
}

@media screen and (min-width: 768px) {
    .wrapper 
    {
        padding:  0 70px 0 70px;
    }
}
/* *** */

/* ****** Styles site ******* */ 

/* ** body ** */
.body
{
    padding-bottom: 55px;
}
/* *** */

/* ** header ** */
.header
{
    width: 100%;
    height: 53px;
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* *** */


/* ** menu ** */
.menu
{
    background: var(--white-color);
    display: flex;
    justify-content: space-evenly;
    height: 53px;
    font-size: .9rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    position: fixed;
    
}

.menu-link
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 53px;
    text-decoration: none;
}


.menu-link-blue
{
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    text-decoration: none;
    border-bottom: 4px solid var(--main-color);
}

.menu-link-img
{
    width: 1.2rem;
    height: 1.2rem;
}

.menu-link-text
{
    padding-left: .6rem;
}

.div
{
    width: 100px;
    height: 1000px;
    
}

@media screen and (min-width: 768px) {
    .header
    {
        justify-content: space-between;
    }

    .container-logo
    {
        width: 30%;
    }

    .menu
    {
        position: static;
        width: 70%;
        
    }

    .menu-link-img
    {
        display: none;
    }

    .menu-link-text
    {
        padding-left: 0;
    }
}

@media screen and (min-width: 1200px) {
    .menu
    {
        width: 45%;
        justify-content: flex-start;
    }

    .menu-link
    {
        margin-right: 60px;
        justify-content: flex-start;
    }

    .menu-link-blue 
    {
        margin-right: 60px;
    }
}

/* *** */

/* ** Hero ** */
.hero
{
    background-image: url('assets/hero-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 580px;
    text-align: center;
}

.hero-promotion-title
{
    font-size: 1.1rem;
    font-family: var(--telefonica-light);
    padding-top: 20px;
}

.hero-promotion-paragraph, .hero-promotion2-paragraph
{
    font-size: .8rem;
    padding-top: 10px;
}


.hero-promotion-link
{
    background: var(--main-color);
    display: block;
    margin: 20px auto;
}

.hero-promotion2
{
    margin-top: 270px;
}

.hero-promotion2-link 
{
    background: var(--text-color);
    display: block;
    margin: 20px auto;
}


@media screen and (min-width: 360px) {
    .hero
    {
        height: 600px;
    }

    .hero-promotion2
    {
        margin-top: 290px;
    }
}




@media screen and (min-width: 375px) {
    .hero
    {
        height: 620px;
    }

    .hero-promotion2
    {
        margin-top: 310px;
    }
}

@media screen and (min-width: 400px) {
    .hero
    {
        height: 650px;
    }

    .hero-promotion2 
    {
        margin-top: 340px;
    }
}

@media screen and (min-width: 414px) {
    .hero
    {
        height: 680px;
    }

    .hero-promotion2 
    {
        margin-top: 370px;
    }
}

@media screen and (min-width: 430px) {
    .hero
    {
        height: 720px;
    }

    .hero-promotion2 
    {
        margin-top: 400px;
    }
}

@media screen and (min-width: 450px) {
    .hero
    {
        height: 780px;
    }

    .hero-promotion2 
    {
        margin-top: 460px;
    }
}

@media screen and (min-width: 640px) {
    .hero
    {
        background-image: url('assets/hero-image.png');
        background-position: center;
        width: 100%;
        display: flex;
        justify-content: space-between;
        
    }

    .hero-promotion 
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 100px;
        width: 50%;
    }

    .hero-promotion-title
    {
        font-size: 2rem;
        text-align: left;
    }

    .hero-promotion-paragraph 
    {
        text-align: left;
        font-size: 1rem;
        padding-top: 20px;
    }

    .hero-promotion-link
    {
        margin: 60px 0 0 0;
        width: 280px;
    }

    .hero-promotion2 
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 50%;
        padding-bottom: 40px;
    }

    .hero-promotion2-paragraph 
    {
        text-align: left;
        font-size: 1rem;
    }

    .hero-promotion2-link 
    {
        margin: 30px 0 0 0;
        width: 184px;
    }
}

@media screen and (min-width: 1024px) {
    .hero-promotion-title 
    {
        font-size: 2.2rem;
    }

    .hero-promotion 
    {
        width: 40%;
    }

    .hero-promotion-paragraph 
    {
        font-size: 1.5rem;
    }

    .hero-promotion2-paragraph 
    {
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 1200px) {
    .hero-promotion2 
    {
        flex-direction: row;
        align-items: flex-end;
        padding-bottom: 100px;
    }

    .hero-promotion-link 
    {
        height: 48px ;
        padding-top: 12px;
    }

    .hero-promotion2-link 
    {
        height: 48px;
        width: 50%;
        padding-top: 12px;
    }
}

/* *** */

/* ** Benefits ** */
.benefits 
{
    background-color: var(--section-form-color);
    color: var(--white-color);
    padding: 48px 0 50px 0;
}

.benefits-title
{
    color: var(--white-color);
    text-align: center;
    font-size: 1rem;
    padding: 0 66px 0 66px;
    font-family: var(--telefonica-light);
    font-weight: 300;
}

.benefits-article 
{
    padding-top: 20px;
}

.benefits-article-title
{
    color: var(--white-color);
    font-size: .9rem;
    font-family: var(--telefonica-light);
    font-weight: 300;
}

.benefits-article-paragraph
{
    font-size: .75rem;
    font-family: var(--telefonica-regular);
    color: var(--text-benefits);
}

.benefits-article-line
{
    margin: 5px 0 5px 0;
    width: 50px;
    color: var(--orange-color);
}

@media screen and (min-width: 768px) {
    .benefits
    {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap;
    }

    .benefits-title
    {
        width: 100%;
        text-align: left;
        padding-left: 70px;
    }

    .benefits-container
    {
        width: 60%;
    }

    .benefits-image
    {
        width: 40%;
        padding-right: 80px;
    }

    .benefits-article
    {
        padding-right: 0;
    }
}

@media screen and (min-width: 1024px) {
    .benefits-container 
    {
        width: 50%;
    }

    .benefits-title 
    {
        font-size: 1.7rem;
    }

    .benefits-article-title 
    {
        font-size: 1.2rem;
    }

    .benefits-article-paragraph 
    {
        font-size: 1rem;
    }

    .benefits-image
    {
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    .benefits-container 
    {
        display: flex;
        flex-wrap: wrap;
    }

    .benefits-article:nth-child(even)
    {
        padding-left: 22px;
    }

    .benefits-article 
    {
        width: 50%;
        padding-top: 60px;
    }
}
/* *** */

/* ** Features ** */
.features 
{
    background-color: var(--white-color);
    padding-top: 78px;
    padding-bottom: 50px;
    position: relative;
}

.features-alert 
{
    position: absolute;
    top: 52px;
    font-size: .9rem;
    color: var(--main-color);
}

.features-links-container 
{
    margin-top: 10px;
    display: flex;
    
}

.features-link 
{
    
    font-size: .9rem;
    text-decoration: none;
}

.features-link-container:last-child
{
    margin-left: 30px;
}

.features-link-active 
{
    color: var(--text-color);
}

.features-link-underline 
{
    color: transparent;
    margin: 0;
    height: 3px;
    background-color: var(--main-color);
    
}

.features-link-arrow
{
    width:0px;
    height:0px;
    border-style: solid;
    border-width: 5px;
    border-color: var(--main-color) transparent transparent transparent;
    margin-left: 45%;
}

.features-link-inactive
{
    color: var(--link-inactive);
}

.features-title 
{
    margin-top: 22px;
    color: var(--main-color);
    font-size: 1rem;
    font-family: var(--telefonica-light);
    text-align: center;
    margin-bottom: 30px;
}

.features-img 
{
    width: 100%;
    
}

.features-list 
{
    padding-left: 32px;
    color: var(--text-link-color);
    
}

.features-list-items 
{
    margin-top: 10px;
    font-size: .9rem;
}

.features-list-items:first-child
{
    margin-top: 20px;
}



.features-notification 
{
    font-size: .8rem;
    color: var(--text-color);
}


@media screen and (min-width: 768px) {

    .features 
    {
        display: flex;
        padding-bottom: 76px;
    }

    .features-img2
    {
        width: 100%;
        
    }

    

    .features-img2-container 
    {
        width: 50%;
        padding: 36px 0 0 70px;
    }

    

    .features-content-container
    {
        width: 50%;
    }

    .features-alert 
    {
        padding-left: 20px;
        font-size: 1.1rem;
    }

    .features-links-container 
    {
        padding: 0 0 0 22px;
    }

    .features-link 
    {
        font-size: 1rem;
    }

    .features-title 
    {
        font-size: 1.8rem;
        text-align: left;
        padding-left: 22px;
    }

    
    .features-list-items 
    {
        font-size: 1rem;
    }

    .features-notification-container 
    {
        padding-left: 22px;
    }

    .features-notification
    {
        padding-bottom: 0;
    }
}

@media screen and (min-width: 1024px) {
    .features-list 
    {
        padding-right: 0;
        width: 80%;
    }

    .features-list-items 
    {
        margin-top: 25px;
    }

    .features-list-items:first-child 
    {
        padding-top: 0;
        margin-top: 0;
    }

    .features-notification-container 
    {
        width: 80%;
        padding-right: 0;
        margin-top: 18px;
    }
}
/* *** */


/* ** requirement-contact section ** */
.requirement
{
    background: var(--white-color);
    padding-bottom: 50px;
}

.requirement-title 
{
    font-family: var(--telefonica-light);
    font-weight: 300;
    color: var(--main-color);
    text-align: center;
    font-size: 1rem;
    padding-bottom: 10px;
}

.requirement-explanation
{
    text-align: center;
    font-size: .9rem;
    padding-bottom: 33px;
}

.requirement-list 
{
    padding-left: 16px;
    list-style: none;
    
}

.requirement-list-item 
{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 22px;
    font-size: 0.9rem;
    color: var(--text-link-color);
}

.requirement-list-item-img 
{
    padding-right: 20px;
}

.requirement-notification 
{
    font-size: .8rem;
}


.contact 
{
    background-color: #09202e;
    padding-bottom: 50px;
    text-align: center;
}

.contact-main-message 
{
    color: var(--white-color);
    font-family: var(--telefonica-light);
    font-size: 1.2rem;
    font-weight: 300;
    padding-top: 50px;
}

.contact-message 
{
    font-size: .9rem;
    color: var(--link-inactive);
    padding-top: 20px;
    padding-bottom: 37px;
}

.contact-link 
{
    color: var(--white-color);
    text-decoration: none;
    background-color: var(--main-color);
    padding: 7px 20px 7px 20px;
}

@media screen and (min-width: 768px) {
    
    .requirement 
    {
        width: 50%;
    }

    .requirement-contact 
    {
        display: flex;
        background: var(--white-color);
    }

    .requirement-title 
    {
        text-align: left;
        font-size: 1.9rem;
    }

    .requirement-explanation 
    {
        text-align: left;
        font-size: 1.2rem;
        padding-right: 16px;
    }

    .requirement-list
    {
        padding-left: 70px;
        padding-right: 16px;
    }

    .requirement-list-item-paragraph 
    {
        font-size: 1rem;
    }

    .requirement-notification 
    {
        padding-right: 16px;
    }

    .contact-container
    {
        width: 50%;
    }
    
    .contact 
    {
        height: 100%;
    }

    .contact-main-message 
    {
        font-size: 1.9rem;
        padding-top: 70px;
        
    }

    .contact-message 
    {
        font-size: 1.2rem;
        padding-top: 40px;
    }
}

@media screen and (min-width: 1200px) {
    .requirement-container 
    {
        width: 85%;
    }
    
    .requirement-list 
    {
        padding-right: 70px;
    }

    .requirement-list-item 
    {
        padding-bottom: 29px;
    }

    .contact-container 
    {
        background: var(--text-color);
        border-top-left-radius: 10px;
    }

    .contact
    {
        width: 85%;
        background: transparent;
        
    }

    .contact-message 
    {
        padding-bottom: 60px;
    }
}


/* ** Benefits2 section ** */

.benefits2 
{
    background: #f2f4f2;
    padding: 50px 16px 50px 16px ;
}

.benefits2-main-message 
{
    font-size: 1rem;
    color: var(--main-color);
    text-align: center;
    font-family: var(--telefonica-light);
    font-weight: 300;
    padding-bottom: 30px;
}

.benefits2-img 
{
    padding-bottom: 20px;
}

.benefist2-list-item
{
    margin-left: 16px;
    padding-bottom: 10px;
    font-size: .9rem;
    color: var(--text-link-color);
}

@media screen and (min-width: 768px) {
    .benefits2 
    {
        padding: 70px 70px 80px 70px;
        display: flex;
        align-items: flex-start;
    }

    .container-benefit
    {
        padding-left: 24px;
        
    }

    .benefits2-main-message
    {
        text-align: left;
        font-size: 1.9rem;
    }

    .benefits2-img-desktop
    {
        width: 300px;
    }

}

@media screen and (min-width: 1200px) {
    .benefits2-img-desktop
    {
        width: 490px;
    }

    .benefits2-main-message 
    {
        padding-bottom: 40px;
    }

    .benefits2-list
    {
        width: 74%;
    }

    .benefist2-list-item 
    {
        padding-bottom: 16px;
        font-size: 1.1rem;
    }
}

/* *** */

/* ** Presentation section ** */

.presentation
{
    text-align: center;
}

.presentation1 
{
    padding: 50px 16px 50px 16px;
    background: var(--white-color);
    color: var(--terms-condition-text-color);
}

.presentation1-title 
{
    font-size: 1rem;
    color: var(--main-color);
    padding-bottom: 20px;
    font-weight: 300;
    font-family: var(--telefonica-light);
}

.presentation1-paragraph 
{
    font-size: .9rem;
}

.presentation2 
{
    background: url('assets/background-presentation-section.png');
    background-repeat: no-repeat;
    background-position: cover;
    padding: 50px 16px 50px 16px;
}

.presentation2-title
{
    font-size: 1rem;
    color: var(--white-color);
    padding-bottom: 20px;
    font-weight: 300;
    font-family: var(--telefonica-light);
}

.presentation2-paragraph 
{
    color: var(--white-color);
    font-size: .8rem;
}

.presentation2-paragraph span 
{
    text-decoration: underline;
    font-weight: bolder;
}

@media screen and (min-width: 768px) {
    .presentation 
    {
        display: flex;
    }

    .presentation1
    {
        width: 50%;
        padding-left: 70px;
        
    }

    .presentation2 
    {
        width: 50%;
        padding-left: 70px;
        
    }

    .presentation1-title 
    {
        text-align: left;
        font-size: 1.9rem;
    }

    .presentation1-paragraph 
    {
        text-align: left;
        font-size: 1.1rem;
    }

    .presentation2-title 
    {
        font-size: 1.9rem;
    }

    .presentation2-paragraph 
    {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1200px) {
    .presentation1 
    {
        padding-right: 8%;
    }

    .presentation2 
    {
        padding-right: 8%;
    }
}

/* ********************* */

