:root {
    --main-color: #019df4;
    --text-color: #0b2739;
    --section-gray-color: #f2f4f2;
    --section-form-color: #09202e;
    --footer-color: #fffdfd;
    --border-footer-color: #d3d4d3;
    --text-link-color: #50535a;
    --text-color-menu: #707070;
    --white-color: #ffff;
    --border-radius: 20px;
    --telefonica-bold: Telefonica-Bold;
    --telefonica-regular: Telefonica-Regular;
    --telefonica-light: Telefonica-Light;
    --underline-color: #a13ea1;
    --terms-condition-text-color: #313235;
}


/* ****** fonts ******* */
@font-face {
    font-family: Telefonica-Bold;
    src: url('fonts/Telefonica-Bold.otf');
}

@font-face {
    font-family: Telefonica-Regular;
    src: url('fonts/Telefonica-Regular.otf');
}

@font-face {
    font-family: Telefonica-Light;
    src: url('fonts/Telefonica-Light.otf');
}


.display-none {
    display: none;
}


.succes-body {
    background: url("assets/background-succes-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 26px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.succes-body img {
    width: 90px;
}

.succes-body h1 {
    font-size: 1.2rem;
    color: var(--main-color);
    font-family: var(--telefonica-light);
    font-weight: 300;
    margin-top: 24px;
    text-align: center;
}

.succes-body p {
    font-family: var(--telefonica-light);
    font-size: .9rem;
    margin-top: 13px;
    margin-bottom: 13px;
    text-align: center;
}


.succes-body a {
    background-color: #ec624b;
    padding: 10px 50px 10px 50px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: var(--telefonica-light);
    border-radius: 100px;

}

@media screen and (min-width: 768px) {
    .succes-body {
        background: url('assets/background-succes.png') top left/cover  no-repeat;
        top: 0;
        padding-left: 70px;
        padding-top: 70px;
        align-items: flex-start;
    }

    .succes-body img {
        width: 190px;
    }

    .succes-body h1 {
        font-size: 3rem;
        text-align: left;
        margin-top: 100px;
    }

    .succes-body p {
        font-size: 1.3rem;
        text-align: left;
        margin-bottom: 70px;
    }
}

@media screen and (min-width: 1024px) {
    .succes-body h1 {
        width: 50%;
    }

    .succes-body p {
        width: 50%;
    }
}